.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style */
.text-primary {
    color: #FD6E0A;
}

.secondary-bg {
    background-color: #FFF8F3;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    padding: 18px 35px 19px 36px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.section-title {
    color: #181818;
    font-size: 35;
    font-weight: bold;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

/* header styles */
.header {
    background-image: url(../images/developer.png),
        url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-weight: 900;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;

}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}


/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px;
}

.banner-content {
    max-width: 585px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 700;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
}

.banner-description {
    font-size: 18px;
}

.banner-img {
    width: 584px;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;

}

/* about styles */
.about {
    margin: 130px 156px;
    text-align: center;
    margin-top: 130px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.about-items {
    display: flex;
    justify-content: space-around;


}



.item-description {
    font-weight: bold;
}